{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
     addReleases: "top"
    }],
    [
        "@eclass/semantic-release-docker",
        {
          "baseImageName": "go-api-sample",
          "registries": [
            {
              "url": "docker.io",
              "imageName": "docker.io/brpaz/go-api-sample",
              "user": "DOCKER_REGISTRY_USER",
              "password": "DOCKER_REGISTRY_PASSWORD"
            },
          ]
        }
      ]
  ]
}
